.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    filter: brightness(0.9);
    z-index: -1;
    pointer-events: none;
}

.water {
    position: fixed;
    bottom: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    filter: brightness(0.9);
    background-size: 5vh 5vh;
    background-repeat: repeat;
    z-index: -2;
    pointer-events: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1000px) {
        width: 100%;
        height: 100%;
    }
}

.inside {
    width: fit-content;
    min-width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .7vh;
    padding: 2vh 4vh 2.7vh 4vh;

    @media (max-width: 600px) {
        width: 95%;
        padding: 2vh 2vh 2.7vh 2vh;
    }
}

.glass {
    overflow: hidden;
    filter: drop-shadow(-8px -10px 46px #0000005f);
    backdrop-filter: brightness(1.1) blur(2px) url(#displacementFilter);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        overflow: hidden;
        box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.4),
            inset 0 0 8px 1px rgba(255, 255, 255, 0.4);

        pointer-events: none;
    }
}

.header {
    font-size: 60px;
    font-family: "Titan One", sans-serif;
    margin-bottom: 20px;
}

.input {
    border: 2px solid rgba(255, 255, 255, 0.2);

    &:focus-within {
        border-color: rgba(255, 255, 255, 0.4);
    }

    &>input {
        background-color: transparent;

        &::-webkit-input-placeholder {
            color: var(--accent-color);
            opacity: .5;
        }
    }
}

.agreeHolder {
    display: flex;
    flex-direction: row;
    width: 400px;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.agreeText {
    color: var(--accent-color);
    line-height: 16px;
    margin-left: .5vh;
    text-align: left;
}

.rightSide {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1000px) {
        display: none;
    }
}

.rightImage {
    width: 20vh;
    height: 20vh;
    user-select: none;
    object-fit: contain;
}

.rightText {
    font-size: 3vh;
    margin-top: 2vh;
    text-align: center;
    font-weight: 700;
}
