.blocksContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.blockedUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: var(--background-color);
    border-radius: 7px;
    text-decoration: none;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(0.9);
    }
}

.blockedAvatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
