.rightSide {
    position: fixed;
    right: 2.5%;
    top: 0;
    width: 325px;
    height: 100vh;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 1010px) {
        display: none;
    }
}

.rightSideStore {
    position: absolute;
    height: 400px;

}

.rightSideBlook {
    position: absolute;
    margin-top: 90px;
    margin-left: 30px;
    width: 70px;
    height: 85px;
    transform: rotate(10deg);
}

.container {
    display: flex;
    margin: 0 0 35px 1%;
    width: calc(95.5% - 330px);
    padding-bottom: 20px;
    gap: 20px;
    flex-direction: column;

    @media screen and (max-width: 1010px) {
        margin: 25px 5% 35px;
        width: 90%;
    }
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.headerBigText {
    font-size: 3rem;
    font-family: "Titan One";
    width: 95%;
    height: 50px;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.headerSmallText {
    font-size: 1.5rem;
    opacity: 0.5;
    width: 90%;
    margin-top: 10px;

    @media screen and (max-width: 768px) {
        font-size: 1rem;
    }
}

.category {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 7px;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.categoryTitle {
    font-size: 2.7rem;
    font-family: "Titan One";
    width: 100%;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
    }
}

.categorySubTitle {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 3px;
    width: 100%;
}

.categoryDivider {
    width: 100%;
    height: 5px;
    opacity: .1;
    border-radius: 7px;
    background-color: var(--accent-color);
    margin-top: 10px;
}

.categoryProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;

    @media screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.product {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 7px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    // background: linear-gradient(15deg, #071d8b, #3d8def);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) inset, 0 0 7px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    transition: transform .25s cubic-bezier(.3, .7, .4, 1.5);

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &>img {
        transition: .2s ease;
    }

    &:hover {
        transform: scale(0.97);

        &>img {
            transform: rotate(-5deg);
        }

        &>.shine {
            filter: blur(5px);
            pointer-events: none;
            --shineSpeed: 3s;

            &:nth-child(3) {
                background: rgba(255, 255, 255, 0.25);
                animation: shine var(--shineSpeed) ease infinite;
                width: 80px;
            }

            &:nth-child(4) {
                background: rgba(255, 255, 255, 0.2);
                animation: shine var(--shineSpeed) ease 0.085s infinite;
                width: 70px;
            }

            &:nth-child(5) {
                background: rgba(255, 255, 255, 0.15);
                animation: shine var(--shineSpeed) ease 0.175s infinite;
                width: 50px;
            }
        }
    }

    &:active {
        transform: scale(0.9);
    }

    &>.shine {
        position: absolute;
        top: 0;
        left: -100px;
        height: 300px;
        transform: skew(-50deg);
        z-index: 1;
        opacity: 0;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        pointer-events: none;
    }
}

@keyframes shine {
    0% {
        opacity: 0.7;
        left: -500px;
    }

    60% {
        opacity: 1;
        left: 655px;
    }

    100% {
        opacity: 1;
        left: 655px;
    }
}

// .productShadow {
//     position: absolute;
//     bottom: -4%;
//     width: 80%;
//     height: 20px;
//     background: rgba(0, 0, 0, 0.2);
//     border-radius: 50%;
//     z-index: 0;
// }

// .productShadow {
//     position: absolute;
//     bottom: 70px;
//     width: 100px;
//     transform: scale(1.6);
//     height: 10%;
//     filter: brightness(0);
//     opacity: 0.2;
//     user-select: none;
// }

.productTop {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    // height: 25%;
}

.productImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40%;
    max-height: 50%;
    height: 100%;
}

.productImage {
    position: absolute;
    height: 100%;
    object-fit: contain;
    user-select: none;
    z-index: 1;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
}

.productBottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    user-select: none;
    user-select: none;
    min-height: 15%;
    max-height: 40%;
    height: auto;
    width: 100%;
    margin-bottom: -2%;
    margin-top: 5%;
}

.productTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
    font-family: "Titan One", sans-serif;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    user-select: none;
    margin-top: -5px;
}

.productSubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20px;
    font-weight: 700;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    user-select: none;
}

.productPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: -5px;
    gap: 2px;
    width: 100%;
    user-select: none;
}

.productSaleText {
    font-size: 14px;
    font-weight: 700;
    padding: 2px 5px;
    background-color: #ff4d4d;
    border-radius: 7px;
    user-select: none;
}

.productCurrencyImage {
    width: 15%;
    height: 20px;
    user-select: none;
    object-fit: contain;
}

.productSubPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin-top: 5px;
    font-size: 10px;
    opacity: 0.7;
    user-select: none;
}

.productSubTag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    color: #ffd700;
    text-shadow: 0 0 10px #ffd700;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    margin-bottom: -5px;
    margin-top: 2px;
    animation: glow 0.5s ease-in-out infinite alternate;

    @keyframes glow {
       from {
           text-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 40px #ff8c00, 0 0 80px #ff8c00;
       }
       to {
           text-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 50px #ff8c00, 0 0 100px #ff8c00;
       }
    }

    &>i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10px;
        height: 10px;
    }
}

.cornerRibbon {
    --ribbon-width: 105px;
    --ribbon-height: 85px;
    --ribbon-offset: -45px;
    position: absolute;
    top: -35px;

    right: var(--ribbon-offset);
    width: var(--ribbon-width);
    height: var(--ribbon-height);

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg, #ff0000, #be0000);
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .4px;
    white-space: nowrap;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .2);

    transform: rotate(45deg);
    transform-origin: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
}

.cornerRibbonContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    top: 30%;
    right: 1%;
    width: 80px;
    height: 40px;
    transform: scale(0.9);
}
